[submodule "gremlin"]
	path = build/cmake/gremlin
	url = https://github.com/bomkvilt/gremlin
[submodule "reflect"]
	path = libs/internal/reflect
	url = https://github.com/bomkvilt/gremlin-reflect
[submodule "math"]
	path = libs/internal/math
	url = https://github.com/bomkvilt/gremlin-math
[submodule "spice"]
	path = libs/external/spice
	url = https://github.com/bomkvilt/gremlin-spice
